In [99]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

## Import CSV

In [100]:
df = pd.read_csv('CSV\BTC-USD.csv')
df.head(5)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100

## Preprocessing

### Data Clensing
Membersihkan data dan menyamakan format data

#### Drop kolom yang tidak diperlukan

In [101]:
df = df.drop(['Adj Close', 'Volume'], axis=1)
df.head(5)

         Date        Open        High         Low       Close
0  2014-09-17  465.864014  468.174011  452.421997  457.334015
1  2014-09-18  456.859985  456.859985  413.104004  424.440002
2  2014-09-19  424.102997  427.834991  384.532013  394.795990
3  2014-09-20  394.673004  423.295990  389.882996  408.903992
4  2014-09-21  408.084991  412.425995  393.181000  398.821014

#### Menyamakan format <i>datetime</i>

In [102]:
df['Date'] = pd.to_datetime(df['Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3250 entries, 0 to 3249
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3250 non-null   datetime64[ns]
 1   Open    3250 non-null   float64
 2   High    3250 non-null   float64
 3   Low     3250 non-null   float64
 4   Close   3250 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 127.1 KB

### Normalisasi
Normalisasi data menggunakan min-max scaler agar skala datanya tidak besar (dari rentang 0 sampai 1)

In [114]:
def transform(data):
    data = np.array(data)
    data = np.reshape(data, (len(data),1))
    scaler = MinMaxScaler()
    scaled = scaler.fit_transform(data)
    return scaled

In [128]:
open = pd.DataFrame(transform(df['Open']), columns=['Open'])
high = pd.DataFrame(transform(df['High']), columns=['High'])
low = pd.DataFrame(transform(df['Low']), columns=['Low'])
close = pd.DataFrame(transform(df['Close']), columns=['Close'])

df_scaled = df['Date']
df_scaled = pd.concat([df_scaled, open, high, low, close], axis=1)
df_scaled

           Date      Open      High       Low     Close
0    2014-09-17  0.004289  0.003739  0.004243  0.004144
1    2014-09-18  0.004155  0.003574  0.003649  0.003655
2    2014-09-19  0.003669  0.003151  0.003217  0.003216
3    2014-09-20  0.003232  0.003085  0.003298  0.003425
4    2014-09-21  0.003431  0.002927  0.003348  0.003275
...         ...       ...       ...       ...       ...
3245 2023-08-06  0.428464  0.422134  0.434860  0.428317
3246 2023-08-07  0.428387  0.423351  0.431240  0.430376
3247 2023-08-08  0.430487  0.436949  0.437125  0.439055
3248 2023-08-09  0.439195  0.435734  0.441097  0.436028
3249 2023-08-10  0.436112  0.428970  0.442259  0.435486

[3250 rows x 5 columns]

### Data splitting
Data dibagi menjadi data uji dan data latih

In [ ]:
# Test